click==8.0.3
cmake==3.22.1
dlib==19.22.1
Flask==2.0.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
keyboard==0.13.5
MarkupSafe==2.0.1
numpy==1.22.0
opencv-python==4.5.5.62
pync==2.0.3
pynput==1.7.6
opencv-python-headless==4.5.5.62
python-dateutil==2.8.2
six==1.16.0
Werkzeug==2.0.2
